*
!.gitignore
!source_me.bash

# VSCode config
!.vscode/
!.vscode/**
# CMake helpers
!cmake/
!cmake/**
# Documentation
!doc/
!doc/**
# Extern source files
!extern/
!extern/**
# Libraries
!lib/
!lib/**
# Source files
!src/
!src/**
# Test files
!tests/
!tests/**
!test_package/
!test_package/**
# Auxiliary utilities
!tools/
!tools/**
# Other files
!CMakeLists.txt
!conanfile.py
