[submodule "extern/frozen"]
	path = extern/frozen
	url = https://github.com/serge-sans-paille/frozen
[submodule "extern/bash-utils"]
	path = extern/bash-utils
	url = https://github.com/kpierczy/bash-utils
